<h1>Welcome to the page for <%= @nation.name %></h1>

<h3>Useful information:</h3>

<ul>
  <li>This nation is located in <%= @nation.continent %></li>
  <li>Do native speakers in this nation speak English? <%= @nation.native_language_english %></li>
  <li>People in this country are <%= @nation.demonym %>
</ul>
